/*Style definition lists to be inline*/
dl dd {
  display: inline;
  margin: 0;
}
dl dd:after{
  display: block;
  content: '';
}
dl dt{
  display: inline-block;
  min-width: 100px;
  font-weight:bold;
}